#canard {
    position: fixed;
    width: 50%;
    height: 50px;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999;
    transition: left 2s ease, bottom 2s ease;
    img {
        width: 10%;
    }
}

#canard.moving {
    opacity: 0.8;
}