@use "../base/variables" as v;

header {
  background-color: v.$color-secondary;
  padding: 3vh;
  box-shadow: 0px 4px 4px rgb(78, 114, 90);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 100px;

      a img {
        background-color: v.$color-secondary;
        width: 100%;
        transition: all 0.4s;

        &:hover {
          background-color: v.$color-primary;
          border-radius: 100%;
          box-shadow: 4px 4px 4px rgb(78, 114, 90);
        }
      }
    }

    nav {
  display: flex;
  align-items: center;
  gap: 8vh;
  .main-nav {
    display: flex;
    gap: 10%;
    list-style: none;
    margin: 0 4vh 0 0;
    padding: 0;

    li a {
      text-decoration: none;
      color: v.$color-thristy;
      font-family: v.$font-titre;
      font-size: 32px;
      text-shadow: 2px 1px 0 black;
      transition: color 0.3s;

      &:hover {
        color: v.$color-primary;
      }
    }
  }

  .menu {
    margin-left: 20px;

    button#burger {
      display: block;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: v.$color-primary;
        border-radius: 12px;
        box-shadow: 4px 4px 4px rgb(78, 114, 90);
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  #navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: 8%;
    background-color: v.$color-secondary;
    padding: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 4px 4px 4px rgb(78, 114, 90);
    z-index: 999;
    list-style: none;
    margin: 0;

    .mobile-only {
    display: none;
    }

    li a {
      text-decoration: none;
      color: v.$color-thristy;
      font-family: v.$font-titre;
      font-size: 32px;
      text-shadow: 2px 1px 0 black;
      transition: color 0.3s;

      &:hover {
        color: v.$color-primary;
      }
    }

    

    p span {
      color: v.$color-thristy;
    }
  }

  #navLinks.active {
    display: flex;
    align-items: center;
  }

  // --- Media query mobile ---
  @media screen and (max-width: 768px) {
    .main-nav {
      display: none;
    }

    #navLinks {
      display: none;
      .mobile-only {
    display: block;
  }
    }

    #navLinks.active {
      display: flex;
      align-items: center;
    }
  }
}
  }
}