@use "../base/variables" as v;

@font-face {
    font-family: v.$font-text;
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: v.$font-titre;
    src: url('/assets/fonts/FascinateInline/FascinateInline-Regular.ttf');
}