
// FONTS
$font-titre: "Fascinate_Inline";
$font-text: "Roboto";

// COLORS
$color-primary: rgb(124, 152, 133);
$color-secondary: rgb(3, 63, 99);
$color-thristy: rgb(231, 240, 13);

// UTILITIES
$style-less: none;