@use "../base/variables" as v;
    
    #galery {
        .container {
            display: flex;
            justify-content: flex-end;
            
            a {
                text-decoration: v.$style-less;
                padding: 2vh 1.5vh;
                background-color: v.$color-thristy;
                border-radius: 12px;
                margin: 2vh 0 0 0;
                border: 2px solid v.$color-thristy;
                color: v.$color-secondary;
                transition: all 0.2s ease-out;
                
            }
            a:hover {
                background-color: v.$color-secondary;
                color: v.$color-thristy;
                box-shadow: 4px 4px 1px rgba(v.$color-secondary, 0.4);
            }
        }
        .container-card {
            width: 80%;
            margin: 0 auto;
            display: flex;
            gap: 4vh;
            flex-wrap: wrap;
            justify-content: center;
            a {
                display: flex;
                margin: 2vh 0 0 0;
                text-decoration: v.$style-less;
                color: v.$color-primary;
                flex-wrap: wrap;

                .card {
                    background-color: rgba(v.$color-secondary, 0.8);
                    padding: 2vh;
                    border-radius: 10px;
                    transition: all 0.2s;
                    height: 50vh;
                    width: 30vh;
                    display: flex;
                    flex-direction: column;
                    animation: fadeInUp 0.8s ease both;
                    .img-canard {
                        width: 100%;
                        height: 55%;
                        img {
                            border-radius: 4px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    p, h4, ul {
                        margin: 1vh 0 0 0;
                        font-family: "Roboto";
                    }
                    p span {
                        color: v.$color-thristy;
                    }
                    ul li span {
                        color: v.$color-thristy;
                    }
                }
                .card:hover {
                    background-color: v.$color-secondary;
                    box-shadow: 4px 4px 4px rgba(v.$color-secondary, 0.6);
                    p strong {
                        color: white;
                    }
                    h4 {
                        color: white;
                    }
                }
            }
            
        }
    }
